apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "prometheus.fullname" . }}
data:
  prometheus.yml: |
    global:
      scrape_interval:     15s
      evaluation_interval: 15s
    scrape_configs:
    - job_name: 'kubernetes-apiservers'
      kubernetes_sd_configs:
      - role: endpoints
      scheme: https
      tls_config:
        ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
      relabel_configs:
      - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
        action: keep
        regex: default;kubernetes;https
    - job_name: 'kubernetes-nodes'
      kubernetes_sd_configs:
      - role: node
      scheme: https
      tls_config:
        ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
      relabel_configs:
      - action: labelmap
        regex: __meta_kubernetes_node_label_(.+)
      - target_label: __address__
        replacement: kubernetes.default.svc:443
      - source_labels: [__meta_kubernetes_node_name]
        regex: (.+)
        target_label: __metrics_path__
        replacement: /api/v1/nodes/${1}/proxy/metrics
    - job_name: 'kubernetes-cadvisor'
      kubernetes_sd_configs:
      - role: node
      scheme: https
      tls_config:
        ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
      relabel_configs:
      - action: labelmap
        regex: __meta_kubernetes_node_label_(.+)
      - target_label: __address__
        replacement: kubernetes.default.svc:443
      - source_labels: [__meta_kubernetes_node_name]
        regex: (.+)
        target_label: __metrics_path__
        replacement: /api/v1/nodes/${1}/proxy/metrics/cadvisor
    - job_name: 'kubernetes-service-endpoints'
      kubernetes_sd_configs:
      - role: endpoints
      relabel_configs:
      - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scrape]
        action: keep
        regex: true
      - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scheme]
        action: replace
        target_label: __scheme__
        regex: (https?)
      - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_path]
        action: replace
        target_label: __metrics_path__
        regex: (.+)
      - source_labels: [__address__, __meta_kubernetes_service_annotation_prometheus_io_port]
        action: replace
        target_label: __address__
        regex: ([^:]+)(?::\d+)?;(\d+)
        replacement: $1:$2
      - action: labelmap
        regex: __meta_kubernetes_service_label_(.+)
      - action: labelmap
        regex: __meta_kubernetes_pod_node_(.+)
      - source_labels: [__meta_kubernetes_namespace]
        action: replace
        target_label: kubernetes_namespace
      - source_labels: [__meta_kubernetes_service_name]
        action: replace
        target_label: kubernetes_name
    - job_name: 'kubernetes-services'
      kubernetes_sd_configs:
      - role: service
      metrics_path: /probe
      params:
        module: [http_2xx]
      relabel_configs:
      - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_probe]
        action: keep
        regex: true
      - source_labels: [__address__]
        target_label: __param_target
      - target_label: __address__
        replacement: blackbox-exporter.example.com:9115
      - source_labels: [__param_target]
        target_label: instance
      - action: labelmap
        regex: __meta_kubernetes_service_label_(.+)
      - source_labels: [__meta_kubernetes_namespace]
        target_label: kubernetes_namespace
      - source_labels: [__meta_kubernetes_service_name]
        target_label: kubernetes_name
    - job_name: 'kubernetes-ingresses'
      kubernetes_sd_configs:
      - role: ingress
      relabel_configs:
      - source_labels: [__meta_kubernetes_ingress_annotation_prometheus_io_probe]
        action: keep
        regex: true
      - source_labels: [__meta_kubernetes_ingress_scheme,__address__,__meta_kubernetes_ingress_path]
        regex: (.+);(.+);(.+)
        replacement: ${1}://${2}${3}
        target_label: __param_target
      - target_label: __address__
        replacement: blackbox-exporter.example.com:9115
      - source_labels: [__param_target]
        target_label: instance
      - action: labelmap
        regex: __meta_kubernetes_ingress_label_(.+)
      - source_labels: [__meta_kubernetes_namespace]
        target_label: kubernetes_namespace
      - source_labels: [__meta_kubernetes_ingress_name]
        target_label: kubernetes_name
    - job_name: 'kubernetes-pods'
      kubernetes_sd_configs:
      - role: pod
      relabel_configs:
      - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
        action: keep
        regex: true
      - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
        action: replace
        target_label: __metrics_path__
        regex: (.+)
      - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
        action: replace
        regex: ([^:]+)(?::\d+)?;(\d+)
        replacement: $1:$2
        target_label: __address__
      - action: labelmap
        regex: __meta_kubernetes_pod_label_(.+)
      - source_labels: [__meta_kubernetes_namespace]
        action: replace
        target_label: kubernetes_namespace
      - source_labels: [__meta_kubernetes_pod_name]
        action: replace
        target_label: kubernetes_pod_name
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "prometheus.fullname" . }}
rules:
  - apiGroups: [""]
    resources:
      - nodes
      - nodes/proxy
      - services
      - endpoints
      - pods
    verbs: ["get", "list", "watch"]
  - apiGroups:
      - extensions
    resources:
      - ingresses
    verbs: ["get", "list", "watch"]
  - nonResourceURLs: ["/metrics"]
    verbs: ["get"]
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "prometheus.fullname" . }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ template "prometheus.fullname" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ template "prometheus.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ template "prometheus.fullname" . }}
    namespace: {{ .Release.Namespace }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "prometheus.fullname" . }}
  labels:
{{ include "prometheus.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.prometheus.replicaCount }}
  strategy:
    type: "Recreate"
  selector:
    matchLabels:
{{ include "prometheus.select-labels" . | indent 6 }}
  template:
    metadata:
      labels:
{{ include "prometheus.labels" . | indent 8 }}
    spec:
      nodeSelector:
      {{- with .Values.grafana.nodeSelector }}
      {{ toYaml . | indent 2 }}
      {{- end }}
      {{- with .Values.global.nodeSelector }}
      {{ toYaml . | indent 2 }}
      {{- end }}
      containers:
      - image: bitnami/prometheus:{{ .Values.prometheus.image.tag }}
        name: prometheus
        args:
        - "--config.file=/etc/prometheus/prometheus.yml"
        - "--storage.tsdb.path=/prometheus"
        - "--storage.tsdb.retention={{ .Values.prometheus.retentionDuration }}"
        ports:
        - containerPort: {{ .Values.prometheus.service.targetPort }}
          protocol: TCP
        volumeMounts:
        - mountPath: "/prometheus"
          name: data
        - mountPath: "/etc/prometheus"
          name: config-volume
        resources:
{{ toYaml .Values.prometheus.resources | indent 10 }}
      serviceAccountName: {{ template "prometheus.fullname" . }}
      securityContext:
        runAsUser: 0
      volumes:
      - name: data
{{- if .Values.prometheus.volumes.dataPath }}
        hostPath:
          path: {{ .Values.prometheus.volumes.dataPath }}
          type: DirectoryOrCreate
{{- else }}
          emptyDir: {}
{{- end }}
      - name: config-volume
        configMap:
          name: {{ template "prometheus.fullname" . }}
---
kind: Service
apiVersion: v1
metadata:
  name: {{ template "prometheus.fullname" . }}
  labels:
{{ include "prometheus.labels" . | indent 6 }}
spec:
  type: {{ .Values.prometheus.service.type }}
  ports:
  - port: {{ .Values.prometheus.service.port }}
    targetPort: {{ .Values.prometheus.service.targetPort }}
    nodePort: {{ .Values.prometheus.service.hostPort }}
  selector:
{{ include "prometheus.select-labels" . | indent 4 }}
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ template "prometheus.fullname" . }}-gpu-exporter
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ template "prometheus.name" . }}-gpu-exporter
      app.kubernetes.io/instance: {{ template "prometheus.fullname" . }}-gpu-exporter
      app.kubernetes.io/part-of: {{ template "prometheus.name" . }}
  template:
    metadata:
      name: {{ template "prometheus.fullname" . }}-gpu-exporter
      labels:
{{ include "prometheus.common-labels" . | indent 8 }}
        app.kubernetes.io/name: {{ template "prometheus.name" . }}-gpu-exporter
        app.kubernetes.io/instance: {{ template "prometheus.fullname" . }}-gpu-exporter
        app.kubernetes.io/part-of: {{ template "prometheus.name" . }}
    spec:
      nodeSelector:
        hardware-type: NVIDIAGPU
      containers:
      - image: nvidia/pod-gpu-metrics-exporter:v1.0.0-alpha
        #- image: yzs981130/pod-gpu-metrics-exporter:latest
        name: pod-nvidia-gpu-metrics-exporter
        ports:
          - name: gpu-metrics
            containerPort: 9400
        securityContext:
          runAsNonRoot: false
          runAsUser: 0
        volumeMounts:
          - name: pod-gpu-resources
            readOnly: true
            mountPath: /var/lib/kubelet/pod-resources
          - name: device-metrics
            readOnly: true
            mountPath: /run/prometheus
      - image: nvidia/dcgm-exporter:1.4.6
        name: nvidia-dcgm-exporter
        securityContext:
          runAsNonRoot: false
          runAsUser: 0
        volumeMounts:
          - name: device-metrics
            mountPath: /run/prometheus
      volumes:
      - name: pod-gpu-resources
        hostPath:
          path: /var/lib/kubelet/pod-resources
      - name: device-metrics
        emptyDir:
          medium: Memory
---

kind: Service
apiVersion: v1
metadata:
  labels:
{{ include "prometheus.common-labels" . | indent 4 }}
    app.kubernetes.io/name: {{ template "prometheus.name" . }}-gpu-exporter
    app.kubernetes.io/instance: {{ template "prometheus.fullname" . }}-gpu-exporter
    app.kubernetes.io/part-of: {{ template "prometheus.name" . }}
  annotations:
    prometheus.io/port: "9400"
    prometheus.io/path: "/gpu/metrics"
    prometheus.io/scrape: "true"
  name: {{ template "prometheus.fullname" . }}-gpu-exporter
spec:
  type: NodePort
  ports:
  - port: 9400
    targetPort: 9400
    nodePort: 30400
  selector:
    app.kubernetes.io/name: {{ template "prometheus.name" . }}-gpu-exporter
    app.kubernetes.io/instance: {{ template "prometheus.fullname" . }}-gpu-exporter
    app.kubernetes.io/part-of: {{ template "prometheus.name" . }}
---