# master节点IP地址
masterip="192.168.0.2"

# 过滤IP段,用于过滤得到服务器的IP地址
ip_segment="192.168.0"

k8s_version="v1.20.1"
kube_version=${k8s_version/v/}

# root用户密码，请设置k8s集群所有服务器root用户密码为统一密码
root_passwd="123456"

# 集群所有节点ip，有几台填几台
hostip=(
192.168.0.1
192.168.0.2
192.168.0.3
)

# cidr网段
pod_network_cidr="10.244.0.0/16"
service_cidr="10.96.0.0/12"

# enflame docker device plugin path
enflame_docker_device_plugin_path=/data/enflame/

#以下两项会自动生成，不用填写
tocken=
sha_value=
